@nyt:registry=https:artifactory.nyt.net/artifactory/api/npm/npm-artifactory/
artifactory.nyt.net/artifactory/api/npm/npm-artifactory/:_password=$ARTIFACTORY_API_KEY
artifactory.nyt.net/artifactory/api/npm/npm-artifactory/:email=$ARTIFACTORY_EMAIL
artifactory.nyt.net/artifactory/api/npm/npm-artifactory/:username=$ARTIFACTORY_USER
artifactory.nyt.net/artifactory/api/npm/npm-artifactory/:always-auth=true
@backstage-plugin-qeta:registry=https://artifactory.nyt.net/artifactory/api/npm/backstage-plugin-qeta/
artifactory.nyt.net/artifactory/api/npm/newsdev/:_password=$ARTIFACTORY_API_KEY
artifactory.nyt.net/artifactory/api/npm/newsdev/:email=$ARTIFACTORY_EMAIL
artifactory.nyt.net/artifactory/api/npm/newsdev/:username=$ARTIFACTORY_USER
artifactory.nyt.net/artifactory/api/npm/newsdev/:always-auth=true